body {
    background-color:whitesmoke;
    color:black;
}

#nav-bar {
    position: relative;
    top: 12cm;
}

#description {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#table-head {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px lightgreen;
}

#t-body {
    color: red;
    text-align: center;
    font-size: 25px;
}